#my-user-follow {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .follow-container {
  height: 500px;
  display: flex;
}

.follow-container .follower-part,
.follow-container .followee-part {
  flex: 1;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: 100%;
  text-align: center;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.follow-container .follower-part .follower-list,
.follow-container .followee-part .followee-list {
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);

  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 50px;
}

.profile-image-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.followee-list .introduce-self,
.follower-list .introduce-self {
  display: flex;
  flex-direction: column;
}

.follow {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  width: 92px;
  height: 44px;

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  cursor: pointer;
  background-color: rgba(0, 132, 255, 1);
  color: white;
}

.follow:hover {
  opacity: 0.85;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
} */

.follow-type {
  width: 80%;
  padding: 25px;
  gap: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
}

.follow-type :hover {
  cursor: pointer;
}

/* .type-follower.disable {
  color: grey;
} */

.type-follower,
.type-followee {
  color: grey;

  font-size: 16px;
  font-weight: 500;
  line-height: 30%;

  cursor: pointer;
}

.type-follower.active,
.type-followee.active {
  color: blue;

  cursor: default;
}
