#update-userpage .profile-container {
  display: flex;
  justify-content: space-evenly;
  height: 700px;
  align-items: center;
}

#update-userpage .profile-container .profile-image-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#update-userpage .profile-container .profile-image-container .image-update-conainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
#update-userpage
  .profile-container
  .profile-image-container
  .image-update-conainer
  .image-update-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  width: 140px;
  height: 44px;

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  cursor: pointer;

  background-color: rgba(69, 69, 69, 1);
  color: rgba(223, 223, 223, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#update-userpage
  .profile-container
  .profile-image-container
  .image-update-conainer
  .image-update-button:hover {
  opacity: 0.7;
}
#update-userpage
  .profile-container
  .profile-image-container
  .image-update-conainer
  .image-default-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  width: 140px;
  height: 44px;

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  cursor: pointer;

  background-color: rgba(69, 69, 69, 1);
  color: rgba(223, 223, 223, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#update-userpage
  .profile-container
  .profile-image-container
  .image-update-conainer
  .image-default-button:hover {
  opacity: 0.7;
}

#update-userpage .profile-container .profile-content-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}

.introduce-content .input-box input::placeholder {
  color: rgba(138, 146, 166, 1);
}

.custom-textarea input {
  height: 130px;
}

#update-userpage .user-update-save-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  width: 70px;
  height: 44px;

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  cursor: pointer;

  background-color: rgba(69, 69, 69, 1);
  color: rgba(223, 223, 223, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#update-userpage .user-update-save-button.disabled {
  background-color: rgba(69, 69, 69, 1); /* 연한 회색 */
  color: rgba(153, 153, 153, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
  pointer-events: none;
}

#update-userpage .user-update-cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  width: 70px;
  height: 44px;

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  cursor: pointer;

  background-color: rgba(223, 223, 223, 1);
  color: rgba(69, 69, 69, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#update-userpage .interest-explain {
  font-size: 14px;
  opacity: 0.5;
}

#update-userpage .button-container {
  display: flex;
}

.modal-button-container {
  display: flex;
  margin-top: 10px;
}

.button-modal-ok {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;

  border-radius: 6px;
  width: 50px;
  height: 44px;

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  cursor: pointer;
  background-color: rgba(69, 69, 69, 1);
  color: rgba(223, 223, 223, 1);

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.button-modal-ok:disabled {
  opacity: 60%;
}
.button-modal-cancel {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;

  border-radius: 6px;
  width: 50px;
  height: 44px;

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  cursor: pointer;

  background-color: rgba(223, 223, 223, 1);
  color: rgba(69, 69, 69, 1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
