#auth-login-container {
  padding-top: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 380px;
  min-height: 250px;
}

.find-password-result-container {
  display: flex;
  flex-direction: column;
}

.patch-button-container {
  display: flex;
  justify-content: center;
}

.patch-password-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  width: 120px;
  height: 44px;

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  cursor: pointer;
}

.patch-password-button:hover {
  opacity: 0.85;
}

.patch-button-container .posible {
  cursor: pointer;
  background-color: rgba(0, 132, 255, 1);
}

.patch-button-container .disable {
  cursor: not-allowed;
  background-color: #aaa;
  color: white;
}
.patch-button-container .disabled:hover {
  opacity: 1;
}
